 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 


<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel='stylesheet' href='/stylesheets/slider.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container p-3 my-3 bg-dark text-white">

  <div class="row">
    <div class="col-sm-2">
        <h4> current windspeed </h4>
        <p id = "windspeed" > </p>
    </div>
    <div class="col-sm-2">
      <h4> Current Production</h4>
      <p id = "production" > </p>
    </div>
    <div class="col-sm-2">
      <h4>Current consumption</h4>
      <p id = consumption></p>
    </div>
    <div class="col-sm-2">
      <h4>current netproduction</h4>
      <p id = netproduction></p>
    </div>
    <div class="col-sm-2">
      <h4>Current battery amount</h4>
      <p id = battery></p>
    </div>
    <div class="col-sm-2">
      <h4>Current electricity Price</h4>
      <p id = electricityprice></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
        <h4>batttery vs grid </h4>
        <form class="form-horizontal" role="form" method="post" action="/" onSubmit="return checkblank(this);">
          <div class="slidecontainer">
            <input type="range" min="0" max="100" value="50" id="slider" name="slider" onchange='document.getElementById("slidertext").value = "Slider Value = " + document.getElementById("slider").value;'/>
            <!-- <input type="text" name="slidertext" id="slidertext" value="Slider Value = 1" disabled /> -->
          </div>
              <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Submit Percentage</button>
        </form>
    </div>
    <div class="col-sm-4">
      <h4 id = "header" > battery level 70%</h4>
        <div class="progress">
            <div class="progress-bar bg-secondary" value='70' style="width:70%" id = "prog"> </div>
        </div>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>

<script>
var slider = document.getElementById("myRange");
console.log("wasd"); 
//var output = document.getElementById("demo");
//output.innerHTML = slider.value; // Display the default slider value
// console.log(window.getComputedStyle(document.getElementById("prog")));
// document.getElementById("prog")
////Update the current slider value (each time you drag the slider handle)
// slider.oninput = function() {
  // output.innerHTML = this.value;
  // 
// } 
</script>
<% if(message) { %>
  <script>
  $(function() {

    var progressed = <%= percentage %>; 
  
    var interval = setInterval(function() {
    
        $("#prog")
    
        .css("width", progressed + "%")
    
        .attr("aria-valuenow", progressed)
    
        .text(progressed + "%");
    
        if (progressed >= 100)
    
            clearInterval(interval);
    
    }, 100);
  });
  document.getElementById("header").innerHTML = "battery level = "  + <%= percentage %>;
  document.getElementById("windspeed").innerHTML = <%= windspeed %> + "m/s";
  document.getElementById("production").innerHTML = <%= production %> + "Kwh";
  document.getElementById("consumption").innerHTML = <%= consumption %> + "Kwh";
  document.getElementById("netproduction").innerHTML = <%= netproduction %>+ "Kwh";
  document.getElementById("battery").innerHTML = <%= battery %> + "kwh";
  document.getElementById("electricityprice").innerHTML = <%= electricityprice %> + "kr/kwh";
  </script>
 <%}%>

 </html>